/.vs/UsedCar.Backend/project-colors.json
/.vs/UsedCar.Backend/v17/.suo
/.vs/UsedCar.Backend/v17/TestStore/0/000.testlog
/.vs/UsedCar.Backend/v17/TestStore/0/testlog.manifest
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UsedCar.Backend.Domains.AssemblyInfo.cs
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UsedCar.Backend.Domains.AssemblyInfoInputs.cache
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UsedCar.Backend.Domains.GeneratedMSBuildEditorConfig.editorconfig
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UsedCar.Backend.Domains.GlobalUsings.g.cs
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UsedCar.Backend.Domains.assets.cache
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UsedCar.Backend.Domains.csproj.AssemblyReference.cache
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UserdCar.Backend.Domains.AssemblyInfo.cs
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UserdCar.Backend.Domains.AssemblyInfoInputs.cache
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UserdCar.Backend.Domains.GeneratedMSBuildEditorConfig.editorconfig
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UserdCar.Backend.Domains.GlobalUsings.g.cs
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UserdCar.Backend.Domains.assets.cache
/src/UserdCar.Backend.Domains/obj/Debug/net6.0/UserdCar.Backend.Domains.csproj.AssemblyReference.cache
/src/UserdCar.Backend.Domains/obj/UsedCar.Backend.Domains.csproj.nuget.dgspec.json
/src/UserdCar.Backend.Domains/obj/UsedCar.Backend.Domains.csproj.nuget.g.props
/src/UserdCar.Backend.Domains/obj/UsedCar.Backend.Domains.csproj.nuget.g.targets
/src/UserdCar.Backend.Domains/obj/UserdCar.Backend.Domains.csproj.nuget.dgspec.json
/src/UserdCar.Backend.Domains/obj/UserdCar.Backend.Domains.csproj.nuget.g.props
/src/UserdCar.Backend.Domains/obj/UserdCar.Backend.Domains.csproj.nuget.g.targets
/src/UserdCar.Backend.Domains/obj/project.assets.json
/src/UserdCar.Backend.Domains/obj/project.nuget.cache
